<a class="menu"><i class="las la-bars"></i></a>
<nav class="sidebar hide">
    <a class="sidebar__link" href="{{ path('index') }}"><i class="las la-tools"></i>Tiny Tools {% if is_granted('ROLE_ADMIN')%} - Backoffice {% endif %}</a>
    <p class="sidebar__text">Une collection entièrement gratuite d'outils en ligne pour les développeurs...</p>
    {% if is_granted('ROLE_USER') %}
        {% if is_granted('ROLE_ADMIN') %}
            <a class="sidebar__option" href="{{ path('user') }}">Liste des utilisateurs</a>
        {% endif %}
        <a class="sidebar__option" href="{{ path('category') }}">Liste des catégories</a>
        {% if is_granted('ROLE_ADMIN') %}
        <a class="sidebar__option" href="{{ path('tool') }}">Liste des outils</a>
        <a class="sidebar__option" href="{{ path('user_edit', {'id': app.user.id}) }}">Voir mon profil</a>
        {% else %}
        <a class="sidebar__option" href="{{ path('tool') }}">Liste de mes outils</a>
        <a class="sidebar__option" href="{{ path('user_edit', {'id': app.user.id}) }}">Voir mon profil</a>
        {% endif %}
        <a class="sidebar__option" href="{{ path('app_logout') }}">Déconnexion</a>
    {% else %}
        <a class="sidebar__option" href="{{ path('app_login') }}">Connexion <i class="las la-sign-in-alt"></i></a>
        <a class="sidebar__option" href="{{ path('user_add') }}">Inscription<i class="las la-sign-in-alt"></i></a>
    {% endif %}
    <h2 class="sidebar__title">Categories</h2>
    <ul class="sidebar__list">
        <li class="sidebar__item {%if category_name == 'all' %}active{%endif%}"><a href="{{ path('index')}}" >Voir tout</a><span class="sidebar__number">{{ tools|length }}</span></li>
        {% for category in categories %}
            <li class="sidebar__item {%if category_name == category.name %}active{%endif%}"><a href="{{ path('index_category', {'category': category.name} ) }}">{{ category.name }}</a><span class="sidebar__number">{{ category.tool|length }}</span></li>
        {% endfor %}
    </ul>
</nav>
{% block js %}
        <script src="{{asset('assets/js/menu.js')}}"></script>
        {% endblock %}