{% extends 'base.html.twig' %}

{% block title %}Liste des outils{% endblock %}

{% block body %}
<div class="tools">
    {% for tool in tools %}
        <figure class="tools__tool tool">
            <img src="{{ asset('assets/img/'~ tool.image) }}">
            <figcaption class="tool__informations">
                <h2>{{ tool.name }}</h2>
                <ul class="tool__tagsList">
                    {% for category in tool.category %}
                    <li class="tool__tag">{{ category }}</li>
                    {% endfor %}
                </ul>
                <p class="tool__description">{{ tool.description }}</p>
                <a class="tool__link" target="_blank" href="{{ tool.link }}">Voir le site</a>
            </figcaption>
            <div class="tool__date"><p>{{ tool.dateToString() }}</p></div>
        </figure>
    {% endfor %}

</div>


{% endblock %}
