{% extends 'base.html.twig' %}
{% block title %}Ajouter un outil{% endblock %}

{% block body %}
<div class="container">
    <div class="form">
        <h1 class="title">Ajouter un outil</h1>
        {{ form_start(form) }}
        <div>
            {{ form_row(form.name, { 'label': 'Nom' }) }}
            {{ form_row(form.link) }}
            {{ form_row(form.description) }}
        </div>
        <div>
            {{ form_row(form.category, { 'label': 'Catégorie(s)' }) }}
            {{ form_row(form.user, { 'label': 'Vos collaborateurs (non obligatoire)' }) }}
            <div class="image">
                {{ form_row(form.file, {'required': false }) }}
                <img id="afterSelect" src="" alt="your image" />
            </div>
        </div>
        <div class="buttons">
            <button class="form__button" formonvalidate>Enregistrer</button>
            <a href="{{ path( 'tool' ) }}" class="back">Annuler</a>
        </div>
        <input type="hidden" id="session" value="{{session}}">
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
{% block js %}
<script src="{{asset('assets/js/rescueurlToScreen.js')}}"></script>
<script src="{{asset('assets/js/showPictureUpload.js')}}"></script>
<script src="{{asset('assets/js/eraseUserLogged.js')}}"></script>
{% endblock %}