{% extends 'base.html.twig' %}
{% block title %}Ajouter un outil{% endblock %}

{% block body %}
<div class="container">
    <h1 class="title">Ajouter un outil</h1>
    <div class="form">
        {{ form_start(form) }}
        <div>
            {{ form_row(form.name) }}
            {{ form_row(form.link) }}
            {{ form_row(form.description) }}
        </div>
        <div>
            {{ form_row(form.category) }}
            {{ form_row(form.user) }}
            {{ form_row(form.file) }}
            <img id="afterSelect" src="" alt="your image" />
        </div>
        <button class="form__button" formonvalidate>Enregistrer</button>
        {{ form_end(form) }}
       
        <a href="{{ path( 'tool' ) }}" class="back">Annuler</a>
    </div>
     
</div>
{% endblock %}

{% block js %}
<script src="{{asset('assets/js/rescueurlToScreen.js')}}"></script>
<script src="{{asset('assets/js/showPictureUpload.js')}}"></script>
{% endblock %}